.allowance-container {
    display: flex;
    flex-direction: column;
    margin: 5px auto 25px auto;
    height: 70vh;
    width: 50%;
    max-width: 100px;
    min-width: 100px;
    border: 3px solid teal;
    border-radius: 20px;
    justify-content: flex-end;
}

.allowance-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: aquamarine;
    position: relative;
    width: 100%;
    border-radius: 0 0 15px 15px;
    height: 0%;
    transition: all 2s;
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
    animation: progress-bar 2s;
}

/* Fills the allowance bar slowly */
@-webkit-keyframes progress-bar {
    0% {
        height: 0;
    }
}
@-moz-keyframes progress-bar {
    0% {
        height: 0;
    }
}

@keyframes progress-bar {
    0% {
        height: 0;
    }
}
