.target-icon {
    display: inline;
    position: absolute;
    bottom: 100px;
    right: 40px;
    width: min-content;
    height: min-content;
}
.edit-icon {
    display: inline;
    position: absolute;
    bottom: 175px;
    right: 40px;
    width: min-content;
    height: min-content;
}

.title {
    padding: 10px;
}

.reset-button {
    background-color: aquamarine !important;
    border: aquamarine !important;
    color: black !important;
    margin: 15px 0px 15px 0px;
}

.lifetime-stats {
    display: none;
}

@media (min-width: 756px) {
    .lifetime-stats {
        display: block;
        position: absolute;
        left: 20%;
        top: 200px;
    }
}
