.target-icon {
    display: inline;
    position: absolute;
    bottom: 100px;
    right: 40px;
    width: min-content;
    height: min-content;
}
.edit-icon {
    display: inline;
    position: absolute;
    bottom: 175px;
    right: 40px;
    width: min-content;
    height: min-content;
}
