.navbar {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    text-decoration: none;
    font-size: larger;
}

.nav-logo {
    display: block;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.nav-links a {
    text-decoration: none;
}
.nav-links a:focus {
    color: red;
}
